/* pokedex-app/src/styles/style.css */ 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 2em;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

header nav input {
  padding: 0.5em;
  margin-right: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  width: 500px;
}

header nav button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header nav button svg {
  width: 24px;
  height: 24px;
}


.pokeball-icon {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}


.pokemon-card {
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  width: 120px;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
